*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    letter-spacing: 1px;

}
:root {
	--base: #555;
	--base-100: #f1f1f1;
	--base-400: #553;
	--base-800: #000;
	--purple: #cc00f5;
	--purple-100: #7f058a;
	--purple-400: #61004f;
	--purple-800: #40023c;
	--blue: #0a61ae;
	--blue-100: #e2f8ff;
	--blue-400: #61dafb;
	--blue-800: #0a61ae;
}

body {
    transition: background-color 1s ease;
}

header {
    border-bottom: 1px solid var(--purple-100);
    background-color: var(--base-100);
    padding-top:5px;
	padding-bottom:5px;
    color: var(--base-800);
    max-width: 80vw;
    padding: 10px;
    margin-left: 11%;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
       

        .logo-header{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            font-size: 1rem;
            font-weight: bold;
            padding: 10px;
            color: var(--base-800);

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1rem;
                font-weight: bold;
                color: var(--base-100);
                background-color: var(--base-800);
                border-radius: 50%;
                height: 64px;
                width: 64px;

                &:hover{
                    transform: scale(1.1);
                }
            }

            .logo-text{
                font-size: 1rem;
                font-weight: bold;
                color: var(--base-800);
                flex: 1;
            }

        }

        #menu{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: 50%;

            li{
                display: inline-block;
                gap: 3rem;
                font-size: 1rem;
                font-weight: bold;

            }
            .nav-links{
                color: var(--base-800);
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover{
                    text-decoration: underline;
                }
            }

            .button{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 150px;
                height: 50px;
                background-color: var(--base-800);
                color: var(--base-100);
                border-radius: 5cap;
                cursor: pointer;
                transition: background-color 0.3s ease;
                text-decoration: none;

                &:hover{
                    background-color: var(--purple-100);
                }

               
            }
        }
    }

    .mobile-toggle{
        display: none;
        cursor: pointer;
        font-size: 2rem;
    }

    @media (max-width: 1024px) {
		flex-direction:column;
		align-items:center;

        section{
            width: 100vh;

        }
	}

	@media (max-width: 768px) {
		flex-direction:column;
		align-items:center;

        section{
            width: 100vh;
        }
		nav {
			margin-top:10px;
			width:100%;
			ul {
				display:none;
				flex-direction:column;
				text-align:center;
				width:100%;
				a {
					width:100%;
				}
				&.active {
					display:flex;
				}
			}
		}
	}
}

section{
    background-color: var(--base-100);
    padding: 10px;
    max-width: 80vw;
    margin-left: 11%;
    /* background-color: var(--base-100); */
    transition: background-color 0.3s ease;
    border-bottom: 1px solid var(--purple);
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100vh;
    padding-top: 5%;

    .home-image{
        width: 30%;
        margin-left: 15%;
        img{
            max-width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 50%;

            &:hover{
                transform: scale(1.2);
            }
        }
    }

    .home-details{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        h1{
            font-size: 2rem;
            font-weight: bold;
            color: var(--base-800);
        }

        .Name{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--purple-100);
        }
        h2{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--base-800);
        }
        h4{
            font-size: 1rem;
            color: var(--base-800);
        }

        .btn-group{
            margin-top: 2%;
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;

            .button{
                background-color: var(--base-800);
                color: var(--base-100);
                padding: 10px 20px;
                border-radius: 5cap;
                text-decoration: none;
                transition: background-color 0.3s ease;

                &:hover{
                    background-color: var(--purple-400);
                    transform: scale(1.2);
                    transform: translateY(-2px);
                }
            }
        }

        .social{
            display: flex;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-top: 2%;
            a{
                color: var(--base-800);
                text-decoration: none;
                transition: color 0.3s ease;
                width: 50px;
                height: 50px;
                
                &:hover{
                    color: var(--purple-400);
                }
        }
        }
    }
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 1rem;
    padding-top: 8%;


    h1{
        border-bottom: 1px solid var(--purple-100);
        padding-bottom: 2%;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--purple-100);
    }

    .skills-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-top: 5%;

        .left-column{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h2{
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--purple-100);
            }

            li{
                display: inline-block;
                font-size: 1rem;
                color: var(--base-800);
                font-size: 1rem;
                gap: 4rem;
                padding: 10px 20px;
            }
        }

        .middle-column {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            border-left: 4px solid var(--purple-800);
            border-right: 4px solid var(--purple-800);
            padding: 0px 2rem;
        }

        h2{
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--purple-400);
        }

        li{
            display: inline-block;
            font-size: 1rem;
            color: var(--base-800);
            font-size: 1rem;
            gap: 4rem;
            padding: 10px 20px;
        }
    }

    .right-column{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    h2{
        font-size: 1.5rem;
        font-weight: bold;
        color: var(--purple-400);
    }

    p{
        font-size: 1rem;
        color: var(--base-800);
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 8%;
    gap: 0.1rem;

    h1{
        border-bottom: 1px solid var(--purple-100);
        padding-bottom: 2%;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--purple-100);
        margin-bottom: 0.5rem;
    }

    .projects-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        .project{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            border-radius: 10%;
            transition: background-color 0.3s ease;
            height: 80vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 2%;
            cursor: pointer;

            img{
                max-width: 80%;
                height: 200px;
                object-fit: cover;
                border-radius: 10%;
                transition: transform 0.3s ease;
                cursor: pointer;
                padding-bottom: 2%;

                &:hover{
                    transform: scale(1.1);
                }
            }

            h2{
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--purple-100);
            }

            p{
                font-size: 1rem;
                color: var(--base-800);
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 1.5;
                margin-bottom: 20px;
            }

            .button{
                background-color: var(--base-800);
                color: var(--base-100);
                padding: 10px 20px;
                border-radius: 5cap;
                text-decoration: none;
                transition: background-color 0.3s ease;

                &:hover{
                    background-color: var(--purple-400);
                }
            }
        }
    }
}

.last-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1%;
    gap: 2rem;
    padding-top: 2%;
    height: 100vh;
    padding: 0px 2%;


    .last-title{
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--base-800);
        padding-bottom: 2%;
        border-bottom: 1px solid var(--purple-100);
        margin-top: 5%;
    }
}

.last-page{
    display: flex;
    height: 100vh;
    padding-bottom: 5%;
    gap: 3rem;

    h1{
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--purple-100);
    }

    .right-side{
        margin-right: 1%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1%;
        height: 70vh;
        align-items: center;
        justify-content: center;
        text-align: center;

        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            justify-content: center;
            align-items: center;
            padding: 5px;
            
            .club{
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                padding: 0.5%;
                letter-spacing: 0.5px;
                overflow: hidden;
                scroll-behavior: smooth;
                align-items: center;
                text-align: center;
                text-overflow: ellipsis;
                justify-content: center;
            }

            h2{
                font-size: 1.5rem;
                font-weight: bold;
                color: var(--purple-100);
                padding-bottom: 2%;
            }

            p{
                font-size: 1rem;
                color: var(--base-800);
                font-weight: 500;
                letter-spacing: 1px;
                line-height: 1.5;
                margin-bottom: 20px;
            }
        }
    }

    /* Contact style */

    .left-side{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 2%;
        border: 1px solid var(--purple-100);
        height: 65vh;
        border-radius: 5cap;
        /* background-color: var(--base-800); */

        h1{
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--base-800);
        }

        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1%;
            height: 30vh;
            color: var(--base-800);

            .Input, textarea{
                padding: 10px;
                border-radius: 20px;
                border: 1px solid var(--purple-100);
                resize: none;
            }

            textarea {
                min-height: 100px;
            }

            label{
                font-size: 1rem;
                color: var(--base-800);
                font-weight: 500;
                color: var(--base-800);
            }

            .btn{
                margin-left: 30%;
                border: none;
                background-color: var(--purple-100);
                color: var(--base-100);
                padding: 10px 5px;
                width: 100PX;
                border-radius: 5cap;
                text-decoration: none;
                transition: background-color 0.3s ease;

                &:hover{
                    background-color: var(--purple);
                }
            }
        }
    }
   
}

footer{
    background-color: var(--base-100);
    color: var(--base-800);
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: 11%;
    }


@media  (max-width:1024px){
    
}